
.container {
  padding: 30px;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.filter-textfield {
  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

.table {
  max-width: 1800px;
}

.clear-button {
  margin-left: 30px;
}

.new-user-button {
  margin-left: auto;
}
